<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">BookHunter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="">My books<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/book/search}" method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                   name="searchValue" id="searchValue">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<body>

<div class="container col-md-4 col-md-offset-4">

    <div class="card" style="width: 48rem;">
        <img class="card-img-top rounded center-block" th:attr="src=@{${coverImage}}" th:if="${coverImage}"
             style="width:300px; height:400px;">
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr th:if="${title}">
                    <th scope="row">Title:</th>
                    <td class="card-text" th:text="${title}"></td>
                </tr>
                <tr th:if="${originalTitle}">
                    <th scope="row">Original title:</th>
                    <td class="card-text" th:text="${originalTitle}"></td>
                </tr>
                <tr th:if="${releaseYear}">
                    <th scope="row">Release year:</th>
                    <td class="card-text" th:text="${releaseYear}"></td>
                </tr>
                <tr th:if="${categories}">
                    <th scope="row">Categories:</th>
                    <td class="card-text" th:text="${categories}"></td>
                </tr>
                <tr th:if="${country}">
                    <th scope="row">Country:</th>
                    <td class="card-text" th:text="${country}"></td>
                </tr>
                <tr>
                    <th scope="row">Average rate:</th>
                    <td class="card-text" th:text="${#numbers.formatDecimal(averageRate, 1, 2, 'POINT')}"></td>
                </tr>
                <tr>
                    <th scope="row">All rates:</th>
                    <td class="card-text" th:text="${numberOfRates}"></td>
                </tr>
                </tbody>
            </table>

            <table class="table" th:if="${not #lists.isEmpty(authors)}">
                <thead>
                <tr>
                    <th scope="col">Authors</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author: ${authors}">
                    <td>
                        <a th:href="@{/author/{authorId}(authorId=${author.id})}"
                           th:text="${author.name} + ' ' + ${author.surName}"></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <p class="card-text" th:if="${description}" th:text="${description}"></p>

        </div>
    </div>

</div>

</body>
</html>